{:kotoba.app/id "cloud.itonami.isic-1701", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidjrzlu47na5klsjpyr7hsdkh25n4rcjv77omomvcelh7dxucyrgy", :kotoba.app/embed-url "ipfs://bafkreidjrzlu47na5klsjpyr7hsdkh25n4rcjv77omomvcelh7dxucyrgy", :published {:archive "https://kotobase.net/ipfs/bafkreidjrzlu47na5klsjpyr7hsdkh25n4rcjv77omomvcelh7dxucyrgy", :size 72718, :put-status 201, :get-status 200, :at "2026-08-15T13:44:53.481Z"}}
